            body {
                font-family: 'Roboto', sans-serif;
                background-color: #EEEEEE;
                font-size: 110%;
                line-height: 1.5px;
                text-align: center;
            }
            
            h1,
            h2 {
                font-family: 'Roboto', sans-serif;
            }
            
            .titulo-principal {
                text-align: center;
                background-color: #686d76;
                color: #FFF;
                padding: 15px;
                font-size: 35px;
                text-transform: uppercase;
                width: 117.6%;
            }
            
            p {
                text-align: justify;
            }
            
            .citacao-bio {
                background-color: #a6a6a4;
                border: 5px solid #C2CCCA;
                width: 250px;
                box-sizing: border-box;
                margin: 20px 40px;
            }
            
            .rodape-pagina {
                background-color: #000;
                color: #F2FFFC;
                clear: both;
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
            }
            
            .container {
                width: 720px;
                margin: auto;
                padding: 20px 0;
            }
            
            .subtitulo-texto {
                font-size: 30px;
                clear: both;
            }
            
            nav a {
                text-transform: initial;
                text-align: left;
            }
            
            .jobs {
                float: right;
            }
            
            .bill {
                float: left;
            }
            
            main {
                float: left;
                width: 85%;
                padding-bottom: 80px;
            }
            
            .navegacao-site {
                float: right;
                margin-top: 0px;
            }
            
            cite {
                font-style: italic;
                float: right;
            }
            
            .minha-foto {
                display: inline-block;
                width: 20%;
                position: fixed;
                margin-top: 168px;
            }
            
            .navegacao-site {
                position: fixed;
                bottom: 20px;
                margin-top: 0px;
                margin-left: 0px;
                margin-right: 0px;
                margin-bottom: 20px;
                right: 0px;
            }
            
            .navegacao-site {
                background-color: #686d76;
            }
            
            .navegacao-site a {
                color: white;
                font-family: 'Roboto', sans-serif;
                font-size: 90%;
                text-transform: initial;
            }
            
            .navegacao-site ul {
                list-style-type: none;
            }
            
            .navegacao-site ul li {
                display: inline;
            }
            
            .navegacao-site ul li a {
                text-align: center;
                padding: 2px 10px;
                background-color: #EDEDED;
                color: #333;
                text-decoration: none;
                border-bottom: 3px solid #EDEDED;
                right: 40px;
            }
            
            .navegacao-site ul li a:hover {
                background-color: #D6D6D6;
                color: #6D6D6D;
                border-bottom: 3px solid #EA0000;
            }