.article-clean {
    color: #56585b;
    background-color: #fff;
    font-family: 'Lora', serif;
    font-size: 14px;
}

.article-clean .intro {
    font-size: 16px;
    margin: 0 auto 30px;
}

.article-clean .intro h1 {
    font-size: 32px;
    margin-bottom: 15px;
    padding-top: 20px;
    line-height: 1.5;
    color: inherit;
    margin-top: 20px;
}

.article-clean .intro p {
    color: #929292;
    font-size: 12px;
}

.article-clean .intro p .by {
    font-style: italic;
}

.article-clean .intro p .date {
    text-transform: uppercase;
    padding: 4px 0 4px 10px;
    margin-left: 10px;
    border-left: 1px solid #ddd;
}

.article-clean .intro p a {
    color: #333;
    text-transform: uppercase;
    padding-left: 3px;
}

.article-clean .intro img {
    margin-top: 20px;
}

.article-clean .text p {
    margin-bottom: 20px;
    line-height: 1.45;
}

@media (min-width:768px) {
    .article-clean .text p {
        font-size: 16px;
    }
}

.article-clean .text h2 {
    margin-top: 28px;
    margin-bottom: 20px;
    line-height: 1.45;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

@media (min-width:768px) {
    .article-clean .text h2 {
        font-size: 20px;
    }
}

.article-clean .text figure {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.article-clean .text figure img {
    margin-bottom: 12px;
    max-width: 100%;
}

.article-list {
    color: #313437;
    background-color: #fff;
}

.article-list p {
    color: #7d8285;
}

.article-list h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .article-list h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.article-list .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.article-list .intro p {
    margin-bottom: 0;
}

.article-list .articles {
    padding-bottom: 40px;
}

.article-list .item {
    padding-top: 50px;
    min-height: 425px;
    text-align: center;
}

.article-list .item .name {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    color: inherit;
}

.article-list .item .description {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
}

.article-list .item .action {
    font-size: 24px;
    width: 24px;
    margin: 22px auto 0;
    line-height: 1;
    display: block;
    color: #4f86c3;
    opacity: 0.85;
    transition: opacity 0.2s;
    text-decoration: none;
}

.article-list .item .action:hover {
    opacity: 1;
}

.navigation-clean-search .action-button,
.navigation-clean-button .action-button:active {
    background: #56c6c6;
    border-radius: 20px;
    font-size: inherit;
    color: #fff !important;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: 8px 20px;
    transition: background-color 0.25s;
}

.navigation-clean-button {
    background: #222222;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #f2f5f8;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

@media (max-width:767px) {
    .navigation-clean-button {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.navigation-clean-button .navbar-brand {
    font-weight: bold;
    color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
    color: #1485ee;
}

.navigation-clean-button .navbar-collapse,
.navigation-clean-button .navbar-form {
    border-top-color: #ddd;
}

.navigation-clean-button.navbar .navbar-nav>li>a {
    padding-left: 18px;
    padding-right: 18px;
}

.navigation-clean-button .navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #222222;
    border-radius: 2px;
}

.navigation-clean-button .actions {
    margin-top: 7px;
    margin-bottom: 0;
}

.navigation-clean-button .actions .login {
    margin-right: 7px;
    text-decoration: none;
    color: #ffffff;
}

.navigation-clean-button .action-button,
.navigation-clean-button .action-button:active {
    background: transparent;
    border-radius: 0;
    color: #e04c40;
    box-shadow: none;
    border: 1px solid #e04c40;
    text-shadow: none;
    padding: 10px 22px;
    transition: background-color 0.25s;
}

.navigation-clean-button .action-button:hover {
    background: #e04c40;
    color: #fff;
    font-weight: 400;
    border: 1px solid #df4c40;
}

.navbar {
    margin-bottom: 0;
}

.btn {
    border-radius: 0;
}

.btn.focus,
.btn:focus,
.btn:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #1485ee;
    border: none;
}

.btn {
    font-family: 'Roboto';
    font-weight: 400;
}

.contact-clean {
    background: #f1f7fc;
    padding: 80px 0;
}

@media (max-width:767px) {
    .contact-clean {
        padding: 20px 0;
    }
}

.contact-clean form {
    max-width: 480px;
    width: 90%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 4px;
    color: #505e6c;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width:767px) {
    .contact-clean form {
        padding: 30px;
    }
}

.contact-clean h2 {
    margin-top: 5px;
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 36px;
    color: inherit;
}

.contact-clean form .form-control {
    background: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
    outline: none;
    color: inherit;
    padding-left: 12px;
    height: 42px;
}

.contact-clean form .form-control:focus {
    border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
    min-height: 100px;
    max-height: 260px;
    padding-top: 10px;
    resize: vertical;
}

.contact-clean form .btn {
    padding: 16px 32px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none !important;
}

.contact-clean form .btn:hover {
    opacity: 1;
}

.contact-clean form .btn:active {
    transform: translateY(1px);
}

.contact-clean form .btn-primary {
    background-color: #055ada !important;
    margin-top: 15px;
    color: #fff;
}

.divider-style {
    margin-top: 70px;
    position: relative;
    margin-right: 40px;
    margin-left: 40px;
}

.divider-style span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}

.divider-style:before {
    content: "";
    display: block;
    border-top: solid 1px black;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.divider-style {
    margin-top: 70px;
    position: relative;
    margin-right: 40px;
    margin-left: 40px;
}

.divider-style span {
    background: #fff;
    padding: 0 20px;
    position: relative;
    z-index: 5;
}

.divider-style:before {
    content: "";
    display: block;
    border-top: solid 1px black;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.footer-dark {
    padding: 50px 0;
    color: #f0f9ff;
    background-color: #282d32;
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
}

.footer-dark ul a:hover {
    opacity: 0.8;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social {
    text-align: center;
}

@media (max-width:991px) {
    .footer-dark .item.social {
        text-align: center;
        margin-top: 20px;
    }
}

.footer-dark .item.social>a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
    margin: 0 8px;
    color: #fff;
    opacity: 0.75;
}

.footer-dark .item.social>a:hover {
    opacity: 0.9;
}

.footer-dark .copyright {
    text-align: center;
    padding-top: 24px;
    opacity: 0.3;
    font-size: 13px;
    margin-bottom: 0;
}

.navigation-clean-button {
    background: #fff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

@media (min-width:768px) {
    .navigation-clean-button {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.navigation-clean-button .navbar-brand {
    font-weight: bold;
    color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
    color: #222;
}

.navigation-clean-button .navbar-toggler {
    border-color: #ddd;
}

.navigation-clean-button .navbar-toggler:hover,
.navigation-clean-button .navbar-toggler:focus {
    background: none;
}

.navigation-clean-button .navbar-toggler {
    color: #888;
}

.navigation-clean-button .navbar-collapse,
.navigation-clean-button .form-inline {
    border-top-color: #ddd;
}

.navigation-clean-button .navbar-nav a.active,
.navigation-clean-button .navbar-nav>.show>a {
    background: none;
    box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active,
.navigation-clean-button.navbar-light .navbar-nav a.active:focus,
.navigation-clean-button.navbar-light .navbar-nav a.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: none;
    pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
    color: #465765;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
    color: #37434d !important;
    background-color: transparent;
}

.navigation-clean-button .navbar-nav>li>.dropdown-menu {
    margin-top: -5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
    background-color: #fff;
    border-radius: 2px;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus,
.navigation-clean-button .dropdown-menu .dropdown-item {
    line-height: 2;
    font-size: 14px;
    color: #37434d;
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus,
.navigation-clean-button .dropdown-menu .dropdown-item:hover {
    background: #eee;
    color: inherit;
}

.navigation-clean-button .actions .login {
    margin-right: 1rem;
    text-decoration: none;
    color: #465765;
}

.navigation-clean-button .navbar-text .action-button,
.navigation-clean-button .navbar-text .action-button:active,
.navigation-clean-button .navbar-text .action-button:hover {
    background: #56c6c6;
    border-radius: 20px;
    font-size: inherit;
    color: #fff;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: .5rem 1rem;
    transition: background-color 0.25s;
    font-size: inherit;
}

.navigation-clean-button .navbar-text .action-button:hover {
    background: #66d7d7;
}

.navigation-clean-search {
    background: #fff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

@media (min-width:768px) {
    .navigation-clean-search {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.navigation-clean-search .navbar-brand {
    font-weight: bold;
    color: inherit;
}

.navigation-clean-search .navbar-brand:hover {
    color: #222;
}

.navigation-clean-search .navbar-toggler {
    border-color: #ddd;
}

.navigation-clean-search .navbar-toggler:hover,
.navigation-clean-search .navbar-toggler:focus {
    background: none;
}

.navigation-clean-search .navbar-toggler {
    color: #888;
}

.navigation-clean-search .navbar-collapse,
.navigation-clean-search .form-inline {
    border-top-color: #ddd;
}

.navigation-clean-search .navbar-nav a.active,
.navigation-clean-search .navbar-nav>.show>a {
    background: none;
    box-shadow: none;
}

.navigation-clean-search.navbar-light .navbar-nav a.active,
.navigation-clean-search.navbar-light .navbar-nav a.active:focus,
.navigation-clean-search.navbar-light .navbar-nav a.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: none;
    pointer-events: none;
}

.navigation-clean-search.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link {
    color: #465765;
}

.navigation-clean-search.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-search.navbar-light .navbar-nav .nav-link:hover {
    color: #37434d !important;
    background-color: transparent;
}

.navigation-clean-search .action-button,
.navigation-clean-button .action-button:active {
    background: #56c6c6;
    border-radius: 20px;
    font-size: inherit;
    color: #fff !important;
    box-shadow: none;
    border: none;
    text-shadow: none;
    padding: 8px 20px;
    transition: background-color 0.25s;
}

.navigation-clean-search .action-button:hover,
.navigation-clean-search .action-button:focus {
    background: #66d7d7;
}

.navigation-clean-search .form-inline label {
    color: #ccc;
}

.navigation-clean-search .form-inline .search-field {
    background: none;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    color: #ccc;
    box-shadow: none;
    color: inherit;
    transition: border-bottom-color 0.3s;
}

@media (max-width:767px) {
    .navigation-clean-search .form-inline .search-field {
        display: inline-block;
        width: 80%;
    }
}

.navigation-clean-search .form-inline .search-field:focus {
    border-bottom: 1px solid #ccc;
}

.navigation-clean-button {
    background: #fff;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #333;
    border-radius: 0;
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

@media (min-width:768px) {
    .navigation-clean-button {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.navigation-clean-button .navbar-brand {
    font-weight: bold;
    color: inherit;
}

.navigation-clean-button .navbar-brand:hover {
    color: #222;
}

.navigation-clean-button .navbar-toggler {
    border-color: #ddd;
}

.navigation-clean-button .navbar-toggler:hover,
.navigation-clean-button .navbar-toggler:focus {
    background: none;
}

.navigation-clean-button .navbar-toggler {
    color: #888;
}

.navigation-clean-button .navbar-collapse,
.navigation-clean-button .form-inline {
    border-top-color: #ddd;
}

.navigation-clean-button .navbar-nav a.active,
.navigation-clean-button .navbar-nav>.show>a {
    background: none;
    box-shadow: none;
}

.navigation-clean-button.navbar-light .navbar-nav a.active,
.navigation-clean-button.navbar-light .navbar-nav a.active:focus,
.navigation-clean-button.navbar-light .navbar-nav a.active:hover {
    color: #8f8f8f;
    box-shadow: none;
    background: none;
    pointer-events: none;
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
    padding-left: 18px;
    padding-right: 18px;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
    color: #465765;
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus,
.navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
    color: #37434d !important;
    background-color: transparent;
}

.features-blue {
    color: #fff;
    background: linear-gradient(135deg, #172a74, #21a9af);
    background-color: #184e8e;
    padding-bottom: 30px;
}

@media (max-width:767px) {
    .features-blue {
        padding-bottom: 10px;
    }
}

.features-blue p {
    color: rgba(255, 255, 255, 0.6);
}

.features-blue h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .features-blue h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.features-blue .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 60px;
}

@media (max-width:767px) {
    .features-blue .intro {
        margin-bottom: 40px;
    }
}

.features-blue .item {
    min-height: 100px;
    padding-left: 80px;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .features-blue .item {
        min-height: 0;
    }
}

.features-blue .item .name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit;
}

.features-blue .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.features-blue .item .icon {
    font-size: 40px;
    color: #ffcc1e;
    float: left;
    margin-left: -65px;
}

.features-clean {
    color: #313437;
    background-color: #fff;
    padding-bottom: 30px;
}

@media (max-width:767px) {
    .features-clean {
        padding-bottom: 10px;
    }
}

.features-clean p {
    color: #7d8285;
}

.features-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .features-clean h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.features-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 60px;
}

@media (max-width:767px) {
    .features-clean .intro {
        margin-bottom: 40px;
    }
}

.features-clean .item {
    min-height: 100px;
    padding-left: 80px;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .features-clean .item {
        min-height: 0;
    }
}

.features-clean .item .name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    color: inherit;
}

.features-clean .item .description {
    font-size: 15px;
    margin-bottom: 0;
}

.features-clean .item .icon {
    font-size: 40px;
    color: #1485ee;
    float: left;
    margin-left: -65px;
}

.active.fas.fa-home.icon.icon-shape.icon-sm.border-radius-md {
    color: var(--bs-light);
}

.icon {
    display: inline-block;
    color: #111111;
    height: 1em;
    width: 1em;
}

.icon-sm {
    height: 0.8em;
    width: 0.8em;
}

.icon {
    fill: currentColor;
    stroke: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
}

hr:not([size]) {
    height: 1px;
}

ol,
ul {
    padding-left: 2rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #cb0c9f;
    text-decoration: none;
}

a:hover {
    color: #830866;
    text-decoration: none;
}

img,
svg {
    vertical-align: middle;
}

.collapse:not(.show) {
    display: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .nav-link {
        transition: none;
    }
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar-brand {
    padding-top: 0.40625rem;
    padding-bottom: 0.40625rem;
    margin-right: 1rem;
    font-size: 1.125rem;
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

.shadow {
    box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12), 0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07) !important;
}

.position-absolute {
    position: absolute !important;
}

.top-0 {
    top: 0 !important;
}

.border-0 {
    border: 0 !important;
}

.border-0 {
    border-width: 0 !important;
}

.w-auto {
    width: auto !important;
}

.h-100 {
    height: 100% !important;
}

.justify-content-center {
    justify-content: center !important;
}

.align-items-center {
    align-items: center !important;
}

.m-0 {
    margin: 0 !important;
}

.my-3 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.ms-1 {
    margin-left: 0.25rem !important;
}

.ms-2 {
    margin-left: 0.5rem !important;
}

.ms-3 {
    margin-left: 1rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.ps-4 {
    padding-left: 1.5rem !important;
}

.text-center {
    text-align: center !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-secondary {
    color: #8392AB !important;
}

.bg-white {
    background-color: #fff !important;
}

@media (min-width: 1200px) {
    .d-xl-none {
        display: none !important;
    }
}

.icon-shape {
    width: 48px;
    height: 48px;
    background-position: center;
    border-radius: 0.75rem;
}

.icon-sm {
    width: 32px;
    height: 32px;
}

hr.horizontal {
    background-color: transparent;
}

hr.horizontal.dark {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
}

.border-radius-md {
    border-radius: 0.5rem;
}

.border-radius-xl {
    border-radius: 1rem;
}

@media (max-width: 767.98px) {
    hr.horizontal {
        background-color: transparent;
    }
}

@media (max-width: 767.98px) {
    hr.horizontal.dark {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    }
}

.navbar {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
}

.navbar .navbar-brand {
    color: #252f40;
    font-size: 0.875rem;
}

.navbar .nav-link {
    color: #252f40;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: 0.875rem;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    letter-spacing: -0.025rem;
    color: #000;
}

.text-xs {
    line-height: 1.25;
}

.text-xs {
    font-size: 0.75rem !important;
}

.text-center {
    text-align: center !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.font-weight-bolder {
    font-weight: 700 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.opacity-5 {
    opacity: 0.5 !important;
}

.opacity-6 {
    opacity: 0.6 !important;
}

.w-15 {
    width: 15% !important;
}

.top-0 {
    top: 0 !important;
}

.right-0 {
    right: 0 !important;
}

@media (max-width: 767.98px) {
    .navbar-collapse {
        position: relative;
    }
}

@media (max-width: 767.98px) {
    .navbar-collapse .navbar-nav {
        width: 100%;
    }
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand>img {
    max-width: 100%;
    max-height: 2rem;
}

.navbar-vertical .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    color: #67748e;
}

.navbar-vertical .navbar-nav .nav-link>i {
    min-width: 1.8rem;
    font-size: .9375rem;
    line-height: 1.5rem;
}

.navbar-vertical .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar-vertical.navbar-expand-xs {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem !important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 360px);
}

.navbar-vertical.navbar-expand-xs.fixed-left {
    left: 0;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding-top: 0.675rem;
    padding-bottom: 0.675rem;
    margin: 0 1rem;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link i,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-mini-icon,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-normal,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .nav-link-text {
    pointer-events: none;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-item {
    width: 100%;
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item {
    margin-top: .125rem;
}

.sidenav,
.main-content {
    transition: all 0.2s ease-in-out;
}

.sidenav {
    z-index: 1050;
}

.sidenav .navbar-brand,
.sidenav .navbar-heading {
    display: block;
}

@media (min-width: 1200px) {
    .sidenav:hover {
        max-width: 15.625rem;
    }
}

.sidenav .navbar-brand {
    padding: 1.5rem 2rem;
}

.sidenav-header {
    height: 4.875rem;
}

.g-sidenav-show .sidenav .nav-link-text {
    transition: 0.3s ease;
    opacity: 1;
}

@media (max-width: 1199.98px) {
    .g-sidenav-show:not(.rtl) .sidenav {
        transform: translateX(-17.125rem);
    }
}

.navbar-vertical .navbar-nav .nav-link.active {
    font-weight: 600;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active {
    color: #252f40;
    background-color: #fff;
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon {
    background-image: linear-gradient(310deg, #cb0c9f 0%, #cb0c9f 100%);
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: .25;
}

hr:not([size]) {
    height: 1px;
}

ol,
ul {
    padding-left: 2rem;
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #cb0c9f;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: #830866;
}

img,
svg {
    vertical-align: middle;
}

.collapse:not(.show) {
    display: none;
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .nav-link {
        transition: none;
    }
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.navbar-brand {
    padding-top: .40625rem;
    padding-bottom: .40625rem;
    margin-right: 1rem;
    font-size: 1.125rem;
    white-space: nowrap;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.d-flex {
    display: flex!important;
}

.d-none {
    display: none!important;
}

.shadow {
    box-shadow: 0 .25rem .375rem -.0625rem hsla(0, 0%, 8%, .12), 0 .125rem .25rem -.0625rem hsla(0, 0%, 8%, .07)!important;
}

.position-absolute {
    position: absolute!important;
}

.border-0 {
    border: 0!important;
}

.border-0 {
    border-width: 0!important;
}

.w-auto {
    width: auto!important;
}

.h-100 {
    height: 100%!important;
}

.justify-content-center {
    justify-content: center!important;
}

.align-items-center {
    align-items: center!important;
}

.m-0 {
    margin: 0!important;
}

.my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}

.mt-0 {
    margin-top: 0!important;
}

.mt-3 {
    margin-top: 1rem!important;
}

.me-2 {
    margin-right: .5rem!important;
}

.ms-1 {
    margin-left: .25rem!important;
}

.ms-2 {
    margin-left: .5rem!important;
}

.ms-3 {
    margin-left: 1rem!important;
}

.p-3 {
    padding: 1rem!important;
}

.ps-4 {
    padding-left: 1.5rem!important;
}

.text-secondary {
    color: #8392ab!important;
}

.bg-body,
.bg-white {
    background-color: #fff!important;
}

@media (min-width:1200px) {
    .d-xl-none {
        display: none!important;
    }
}

.icon-shape {
    width: 48px;
    height: 48px;
    background-position: 50%;
    border-radius: .75rem;
}

.icon-sm {
    width: 32px;
    height: 32px;
}

hr.horizontal {
    background-color: transparent;
}

hr.horizontal.dark {
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .4), transparent);
}

.border-radius-md {
    border-radius: .5rem;
}

.border-radius-xl {
    border-radius: 1rem;
}

@media (max-width:767.98px) {
    hr.horizontal {
        background-color: transparent;
    }
}

@media (max-width:767.98px) {
    hr.horizontal.dark {
        background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .4), transparent);
    }
}

.navbar {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .16);
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #252f40;
    font-size: .875rem;
}

.navbar .nav-link {
    padding: .5rem 1rem;
    font-weight: 400;
}

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    letter-spacing: -.025rem;
    color: #000;
}

.text-xs {
    line-height: 1.25;
}

.text-xs {
    font-size: .75rem!important;
}

.text-center {
    text-align: center!important;
}

.text-uppercase {
    text-transform: uppercase!important;
}

.font-weight-bolder {
    font-weight: 700!important;
}

.cursor-pointer {
    cursor: pointer;
}

.opacity-5 {
    opacity: .5!important;
}

.opacity-6 {
    opacity: .6!important;
}

.w-15 {
    width: 15%!important;
}

.top-0 {
    top: 0!important;
}

.right-0 {
    right: 0!important;
}

@media (max-width:767.98px) {
    .navbar-collapse {
        position: relative;
    }
}

@media (max-width:767.98px) {
    .navbar-collapse .navbar-nav {
        width: 100%;
    }
}

.navbar-vertical .navbar-brand-img,
.navbar-vertical .navbar-brand>img {
    max-width: 100%;
    max-height: 2rem;
}

.navbar-vertical .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    color: #67748e;
}

.navbar-vertical .navbar-nav .nav-link>i {
    min-width: 1.8rem;
    font-size: .9375rem;
    line-height: 1.5rem;
}

.navbar-vertical .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.navbar-vertical.navbar-expand-xs {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 15.625rem!important;
    overflow-y: auto;
    padding: 0;
    box-shadow: none;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    display: block;
    overflow: auto;
    height: calc(100vh - 360px);
}

.navbar-vertical.navbar-expand-xs.fixed-left {
    left: 0;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link {
    padding-top: .675rem;
    padding-bottom: .675rem;
    margin: 0 1rem;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .nav-link-text,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-mini-icon,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link .sidenav-normal,
.navbar-vertical.navbar-expand-xs .navbar-nav .nav-link i {
    pointer-events: none;
}

.navbar-vertical.navbar-expand-xs .navbar-nav .nav-item {
    width: 100%;
}

.navbar-vertical.navbar-expand-xs .navbar-nav>.nav-item {
    margin-top: .125rem;
}

.main-content,
.sidenav {
    transition: all .2s ease-in-out;
}

.sidenav {
    z-index: 1050;
}

.sidenav .navbar-brand,
.sidenav .navbar-heading {
    display: block;
}

@media (min-width:1200px) {
    .sidenav:hover {
        max-width: 15.625rem;
    }
}

.sidenav .navbar-brand {
    padding: 1.5rem 2rem;
}

.sidenav-header {
    height: 4.875rem;
}

.g-sidenav-show .sidenav .nav-link-text {
    transition: .3s ease;
    opacity: 1;
}

@media (max-width:1199.98px) {
    .g-sidenav-show:not(.rtl) .sidenav {
        transform: translateX(-17.125rem);
    }
}

.navbar-vertical .navbar-nav .nav-link.active {
    font-weight: 600;
    box-shadow: 0 20px 27px 0 rgba(0, 0, 0, .05);
    border-radius: .5rem;
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active {
    color: #252f40;
    background-color: #fff;
}

.navbar-vertical .navbar-nav>.nav-item .nav-link.active .icon {
    background-image: linear-gradient(310deg, #cb0c9f, #cb0c9f);
}

.team-boxed {
    color: #313437;
    background-color: #eef4f7;
}

.team-boxed p {
    color: #7d8285;
}

.team-boxed h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .team-boxed h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

.team-boxed .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.team-boxed .intro p {
    margin-bottom: 0;
}

.team-boxed .people {
    padding: 50px 0;
}

.team-boxed .item {
    text-align: center;
}

.team-boxed .item .box {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    margin-bottom: 30px;
}

.team-boxed .item .name {
    font-weight: bold;
    margin-top: 28px;
    margin-bottom: 8px;
    color: inherit;
}

.team-boxed .item .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #d0d0d0;
    letter-spacing: 2px;
    font-size: 13px;
}

.team-boxed .item .description {
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.team-boxed .item img {
    max-width: 160px;
}

.team-boxed .social {
    font-size: 18px;
    color: #a2a8ae;
}

.team-boxed .social a {
    color: inherit;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.7;
}

.team-boxed .social a:hover {
    opacity: 1;
}